<!-- lost-found.ejs -->

<section class="popular section" id="popular">
  <div class="container">
      <span class="section__subtitle">Lost</span>
      <h2 class="section__title">List of Lost Items</h2>

      <div class="popular__container swiper">
          <div class="swiper-wrapper">
              <% lostItems.forEach(({ item }) => { %>
              <article class="popular__card swiper-slide">
                  <img src="<%= item.photo %>" alt="" class="popular__img" />
                  <div class="popular__data">
                      <h2 class="popular__price"><span>TYPE: </span><%= item.object %></h2>
                      <p class="popular__description"><span>Description: </span><%= item.description %></p>
                  </div>
              </article>
              <% }) %>
          </div>

          <div class="swiper-button-next">
              <i class="bx bx-chevron-right"></i>
          </div>
          <div class="swiper-button-prev">
              <i class="bx bx-chevron-left"></i>
          </div>
      </div>
  </div>
</section>

<section class="value section" id="value">
  <div class="container">
      <span class="section__subtitle">Found</span>
      <h2 class="section__title">List of Found Items</h2>

      <div class="popular__container swiper">
          <div class="swiper-wrapper">
              <% foundItems.forEach(({ item }) => { %>
              <article class="popular__card swiper-slide">
                  <img src="<%= item.photo %>" alt="" class="popular__img" />
                  <div class="popular__data">
                      <h2 class="popular__price"><span>TYPE: </span><%= item.object %></h2>
                      <p class="popular__description"><span>Description: </span><%= item.description %></p>
                  </div>
              </article>
              <% }) %>
          </div>

          <div class="swiper-button-next">
              <i class="bx bx-chevron-right"></i>
          </div>
          <div class="swiper-button-prev">
              <i class="bx bx-chevron-left"></i>
          </div>
      </div>
  </div>
</section>
